body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/*switch clickButton*/
.clickOff {
    z-index: 100;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    /*div position control to map left*/
    position: absolute;
    left: 10px;
    bottom: 40px;
    border-color: rgba(50, 50, 50, 0.5);
    background-color: #FFFFFF;
    border-style: outset;
    border-width: 2.5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.clickOff:active {
    border-style: inset;
    background-color: #696969;
}

.clickOn {
    z-index: 100;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    /*div position control to map left*/
    position: absolute;
    left: 10px;
    bottom: 40px;
    border-color: rgba(50, 50, 50, 0.5);
    background-color: #FFFFFF;
    border-style: outset;
    border-width: 2.5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.clickOn:active {
    border-style: inset;
    background-color: #696969;
}

.clickTarget {
    position: relative;
    top: 8px;
    left: 0;
}

/*zoom,nav,geolocate*/
.customMultiDiv {
    display: block;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

.customButton {
    padding: 2px 2px 2px 2px
}

/*路線及點位*/
#menu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 60px;
    padding: 5px;
    border-radius: 5px;
    max-width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    border-radius: 5px;
    background-color: #004cff;
    color: #ffffff;
}

#menu a.active:hover {
    background: #0095ff;
}

/*圖例*/
.legend {
    background-color: #fff;
    border-radius: 3px;
    right: 10px;
    bottom: 100px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
    font: 1.2em 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.legend h4 {
    text-align: center;
    font: 1.5em 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 0px;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}